Package: com.0xkuj.greenpass
Name: Green Pass
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
